:root {
    --red: #ff1843;
    --green: #5fff56;
    --blue: #0095ff;
    --pink: #ff008e;
    --orange: #ff6f00;
    --purple: #6b5fff;
    --nearBlack: #00122c;

    --curve: cubic-bezier(.24,1.19,.43,1.654);
}

@font-face {
    font-family: Fredoka, sans-serif;
    src: url("fonts/Fredoka One.ttf")
}

@font-face {
    font-family: Rubik, sans-serif;
    src: url("fonts/Rubik.ttf")
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #262626;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    background-color: #000;

    scrollbar-width: none;
}

html, body {
    overscroll-behavior: none;
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin-left: 50px;
}

.footer {
    margin-top: auto;
    z-index: 10;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Rubik, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    padding: 0 10px;
    white-space: pre-wrap;
}

h1 {font-size: 45px;}
h2 {font-size: 40px;}
h3 {font-size: 35px;}
h4 {font-size: 25px;}
h5 {font-size: 17px;}

p {
    font-family: Fredoka, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

a {
    font-family: Fredoka, sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    transition: font-size 0.3s var(--curve);
    cursor: pointer;
}

h1 a {
    display: inline-block;
    transition: transform 0.3s var(--curve);
    cursor: pointer;
}

h1 a:hover {
    transform: scale(1.1);
}

.sidebar-base {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 9999;
}

.top-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.top-group + * {
    margin-top: auto;
}

.sidebar-expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    box-sizing: border-box;
    z-index: 9998;

    transform: translateX(-450px);

    /*padding: 0 10px;*/

    transition: transform 0.25s ease;
}

.sidebar-expanded h1, .sidebar-expanded h2, .sidebar-expanded h3, .sidebar-expanded h4, .sidebar-expanded h5, .sidebar-expanded h6 {
    color: white;
    margin: 1px 0;
    padding: 0;
    padding-bottom: 6px;
    text-align: left;
}

.sidebar-base *:first-child {
    margin: 0;
    color: white;
    font-weight: bold;
    transform: rotate(0deg);
    align-self: center;
    transform-origin: center;

    position: static;
    top: 0;
    left: 0;
}

.sidebar-base > *:nth-child(-n + 5) {
    margin-bottom: 10px;
}


.sidebar-base * {
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
}

.sidebar-base ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-base a {
    color: white;
    text-decoration: none;
    padding: 15px 40px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 2;
}

.sidebar-base img {
    max-width: 30px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: block;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.sidebar-base li {
    position: relative;
}

.sidebar-base h3 {
    color: white;
    font-weight: bolder;
    width: 30px;
    padding-top: 5px;
}

.sidebar-base h4 {
    color: white;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    width: 30px;
    margin-bottom: 15px;
}

.sidebar-base a span {
    display: inline-block;
    transition: transform 0.3s var(--curve);
}

.sidebar-base a:hover span {
    transform: scale(1.3);
}

.sidebar-base a:hover {
    background-color: transparent;
}

.sidebar-base .hidden-nav {
    rotate: 90deg;
    width: 400px;
    height: calc(100vh - 65.5px);
    position: absolute;
    top: 65.5px;
    right: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    opacity: 0;
}

.sidebar-base:hover .hidden-nav {
    pointer-events: auto;
    opacity: 1;
}

.nav-left {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-highlight {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.nav-selector {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    background-color: white;
    border-radius: 20px;
    z-index: -1;
    transition: all 0.35s var(--curve), opacity 0.25s ease;
    opacity: 0;
    pointer-events: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50px;
    right: 0;
    overflow: hidden;
    z-index: 10000;

    width: calc(100vw - 50px);
    margin: 0 auto;
    box-sizing: border-box;
}

.navbar ul {
    list-style: none;
    padding: 15.5px;

    display: flex;
    position: relative;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;

    font-family: Fredoka, sans-serif;
    font-weight: lighter;
}

.navbar h3 {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    position: relative;
    text-align: center;
    color: white;
}

.banner-left {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#socials {
    padding: 0;
}

#socials img {
    max-width: 25px;
}

.socials {
    padding-left: 0;
    align-items: center;
    display: flex;
}

.socials a {
    padding: 0 7px;
}

.socials a img {
    transition: transform 0.3s var(--curve);
}

.socials a img:hover {
    transform: scale(1.35);
}

.gap {
    background-color: var(--purple);
}

div.gap {
    padding-top: 60px;
}

#cursor-follow {
    z-index: 0 !important;
    background: radial-gradient(circle at center, var(--purple) 0%, transparent 50%);
    height: 500px;
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.tileable-stars-black {
    background-image: url("/images/bg-assets/invis-black-stars.png");
    background-size: 100px;
    background-repeat: repeat;
    height: 100vh;

    display: grid;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;

    animation: scrollStars 60s linear infinite;
}

.tileable-stars-blue {
    background-image: url("/images/bg-assets/bluestars.png");
    background-size: 100px;
    background-repeat: repeat;
    height: 300px;

    display: grid;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;

    animation: scrollStars 60s linear infinite;
}

.tileable-stars-purple {
    position: relative;
    overflow: hidden;
    color: white;
    text-align: center;
    align-items: center;
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;
    width: 100%;
}

.tileable-stars-purple::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url("/images/bg-assets/purplepattern.png");
    background-size: 280px;
    background-repeat: repeat;
    transform: rotate(-5deg);
    z-index: -1;
    animation: scrollStars 60s linear infinite;
}

.tileable-stars-yellow {
    background-image: url("/images/bg-assets/yellowstars.png");
    background-size: 100px;
    background-repeat: repeat;
    height: 300px;

    display: grid;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;

    animation: scrollStars 60s linear infinite;
}

.tileable-stars-red {
    background-image: url("/images/bg-assets/redstars.png");
    background-size: 100px;
    background-repeat: repeat;

    display: grid;
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    -webkit-text-stroke: 7.5px black;
    paint-order: stroke fill;

    animation: scrollStars 60s linear infinite;
}

@keyframes swayUpDown {
    0%, 100% {
        transform: translateY(75px);
    }
    50% {
        transform: translateY(150px);
    }
}

@keyframes scrollStars {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px -700px;
    }
}

.games {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
}

.game {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
}

.games img {
    border-radius: 15%;
    max-width: 200px;
    padding: 1em;
}

.games-content {
    max-width: 100%;
    text-align: left;
    justify-content: flex-start;
}

@view-transition {
    navigation: auto;
}