.split {
    align-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.split:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.c-left {
    align-content: center;
}

.c-right {

}